<div class="page d-flex">

  <div class="content w-full">

    <app-head-head></app-head-head>

    <h1 class="p-relative">Plans</h1>
    <div class="plans-page d-grid m-20 gap-20">
      <div class="plan green bg-white p-20">
        <div class="top bg-green txt-c p-20">
          <h2 class="m-0 c-white">Free</h2>
          <div class="price c-white"><span>$</span>0.00</div>
        </div>

        <ul>
          <li *ngFor="let feature of plan.features">
            <i class="fa-solid" [ngClass]="feature.available ? 'fa-check fa-fw yes' : 'fa-xmark fa-fw'"></i>
            <span>{{ feature.text }}</span>
            <i class="fa-solid fa-circle-info help"></i>
          </li>
        </ul>


        <!-- <a href="#" class="btn-shape bg-green c-white d-block w-fit">Join</a> -->
        <button type="submit" class="btn-shape bg-green c-white d-block w-fit">Join</button>

      </div>


<!-- Start Plan -->
<div class="plan orange bg-white p-20">
  <div class="top bg-orange txt-c p-20">
    <h2 class="m-0 c-white">{{ plan.name }}</h2>
    <div class="price c-white"><span>$</span>{{ plan.price }}</div>
  </div>
  <ul class="list-none p-0">
    <li *ngFor="let feature of plan.features">
      <i class="fa-solid fa-check fa-fw yes"></i>
      <span>{{ feature }}</span>
      <i class="fa-solid fa-circle-info help"></i>
    </li>
  </ul>
  <p class="c-grey m-0 txt-c">This Is Your Current Plan</p>
</div>
<!-- End Plan -->


    </div>
  </div>
</div>
