<div class="page d-flex">

  <div class="content w-full">

    <app-head-head></app-head-head>
    <h1 class="p-relative">Profile</h1>
<div class="profile-page m-20">
  <div class="overview bg-white rad-10 d-flex align-center">
    <div class="avatar-box txt-c p-20">
      <img class="rad-half mb-10" src="/imgs/avatar.png" alt="Avatar" />
      <h3 class="m-0">{{ userProfile.fullName }}</h3>
      <p class="c-grey mt-10">Level 20</p>
      <p class="c-grey m-0 fs-13">550 Rating</p>
    </div>

    <div class="info-box w-full txt-c-mobile">
      <div class="box p-20 d-flex align-center">
        <h4 class="c-grey fs-15 m-0 w-full">General Information</h4>
        <div class="fs-14"><span class="c-grey">Gender:</span> <span>{{ userProfile.gender }}</span></div>
        <div class="fs-14"><span class="c-grey">Country:</span> <span>{{ userProfile.country }}</span></div>
      </div>

      <div class="box p-20 d-flex align-center">
        <h4 class="c-grey fs-15 m-0 w-full">Personal Information</h4>
        <div class="fs-14"><span class="c-grey">Email:</span> <span>{{ userProfile.email }}</span></div>
        <div class="fs-14"><span class="c-grey">Phone:</span> <span>{{ userProfile.phone }}</span></div>
        <div class="fs-14"><span class="c-grey">Date Of Birth:</span> <span>{{ userProfile.dateOfBirth }}</span></div>
      </div>

      <div class="box p-20 d-flex align-center">
        <h4 class="c-grey fs-15 m-0 w-full">Job Information</h4>
        <div class="fs-14"><span class="c-grey">Title:</span> <span>{{ userProfile.title }}</span></div>
        <div class="fs-14"><span class="c-grey">Programming Language:</span> <span>{{ userProfile.programmingLanguage }}</span></div>
        <div class="fs-14"><span class="c-grey">Years Of Experience:</span> <span>{{ userProfile.yearsOfExperience }}</span></div>
      </div>

      <div class="box p-20 d-flex align-center">
        <h4 class="c-grey fs-15 m-0 w-full">Billing Information</h4>
        <div class="fs-14"><span class="c-grey">Payment Method:</span> <span>{{ userProfile.paymentMethod }}</span></div>
        <div class="fs-14"><span class="c-grey">Billing Email:</span> <span>{{ userProfile.billingEmail }}</span></div>
        <div class="fs-14"><span class="c-grey">Subscription:</span> <span>{{ userProfile.subscription }}</span></div>
      </div>
    </div>
  </div>

  <div class="other-data d-flex gap-20">
    <div class="skills-card p-20 bg-white rad-10 mt-20">
      <h2 class="mt-0 mb-10">My Skills</h2>
      <ul class="m-0 txt-c-mobile">
        <li *ngFor="let skillGroup of userProfile.skills">
          <span *ngFor="let skill of skillGroup">{{ skill }}</span>
        </li>
      </ul>
    </div>
        <div class="activities p-20 bg-white rad-10 mt-20">
          <h2 class="mt-0 mb-10">Latest Activities</h2>
          <p class="mt-0 mb-20 c-grey fs-15">Latest Activities Done By The User</p>

          <div *ngFor="let activity of activities" class="activity d-flex align-center txt-c-mobile">
            <img [src]="activity.image" alt="" />
            <div class="info">
              <span class="d-block mb-10">{{ activity.title }}</span>
              <span class="c-grey">{{ activity.description }}</span>
            </div>
            <div class="date">
              <span class="d-block mb-10">{{ activity.time }}</span>
              <span class="c-grey">{{ activity.date }}</span>
            </div>
          </div>
        </div>

      </div>
      <!-- End Other Data -->
    </div>
  </div>
</div>
