<div class="page d-flex">


  <div class="content w-full">
    <!-- Start Head -->
    <div class="head bg-white p-15 between-flex">
      <div class="search p-relative">
        <input class="p-10" type="search" placeholder="Type A Keyword " />
      </div>
      <div class="icons d-flex align-center">
        <span class="notification p-relative">
          <i class="fa-regular fa-bell fa-lg"></i>
        </span>
        <img src="/imgs/avatar.png" alt="" />
      </div>
    </div>
    <!-- End Head -->
    <h1 class="p-relative">Settings</h1>
    <div class="settings-page m-20 d-grid gap-20">

      <!-- Start Settings Box -->
      <div class="p-20 bg-white rad-10">
        <h2 class="mt-0 mb-10">Site Control</h2>
        <p class="mt-0 mb-20 c-grey fs-15">Control The Website If There Is Maintenance</p>
        <div class="mb-15 between-flex">
          <div>
            <span>Website Control</span>
            <p class="c-grey mt-5 mb-0 fs-13">Open/Close Website And Type The Reason</p>
          </div>
          <div>
            <label>
              <input class="toggle-checkbox" type="checkbox" checked />
              <div class="toggle-switch"></div>
            </label>
          </div>
        </div>
        <textarea class="close-message p-10 rad-6 d-block w-full" placeholder="Close Message Content"></textarea>
      </div>
      <!-- End Settings Box -->


<!-- Start General Info Box -->
<div class="p-20 bg-white rad-10">
  <h2 class="mt-0 mb-10">General Info</h2>
  <p class="mt-0 mb-20 c-grey fs-15">General Information About Your Account</p>

  <div *ngFor="let item of generalInfo" class="mb-15">
    <label class="fs-14 c-grey d-block mb-10" [for]="item.id">{{ item.label }}</label>

    <input
      class="b-none border-ccc p-10 rad-6 d-block w-full"
      [type]="item.type"
      [id]="item.id"
      [placeholder]="item.placeholder"
      [value]="item.value"
      [disabled]="item.disabled"
    />

    <!-- Show "Change" link only for email field -->
    <a *ngIf="item.showLink" class="c-blue" href="#">Change</a>
  </div>
</div>
<!-- End General Info Box -->


      <!-- Start Settings Box                        neeed to modify......>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <div class="p-20 bg-white rad-10">
        <h2 class="mt-0 mb-10">Security Info</h2>

        <p class="mt-0 mb-20 c-grey fs-15">Security Information About Your Account</p>

        <div class="sec-box mb-15 between-flex">
          <div>
            <span>Password</span>
            <p class="c-grey mt-5 mb-0 fs-13">Last Change On 25/10/2021</p>
          </div>
          <a class="button bg-blue c-white btn-shape" href="#">Change</a>
        </div>

        <div class="sec-box mb-15 between-flex">
          <div>
            <span>Two-Factor Authentication</span>
            <p class="c-grey mt-5 mb-0 fs-13">Enable/Disable The Feature</p>
          </div>
          <label>
            <input class="toggle-checkbox" type="checkbox" checked />
            <div class="toggle-switch"></div>
          </label>
        </div>

        <div class="sec-box between-flex">
          <div>
            <span>Devices</span>
            <p class="c-grey mt-5 mb-0 fs-13">Check The Login Devices List</p>
          </div>
          <a class="bg-eee c-black btn-shape" href="#">Devices</a>
        </div>
      </div>
      <!-- End Settings Box >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

   <!-- Start Social Info Box -->
<div class="social-boxes p-20 bg-white rad-10">
  <h2 class="mt-0 mb-10">Social Info</h2>
  <p class="mt-0 mb-20 c-grey fs-15">Social Media Information</p>

  <div *ngFor="let social of socialMedia" class="d-flex align-center mb-15">
    <i class="fa-brands" [ngClass]="social.icon + ' center-flex c-grey'"></i>
    <input class="w-full" type="text" [placeholder]="social.placeholder" />
  </div>
</div>
<!-- End Social Info Box -->


      <!-- Start Settings Box -->
<div class="widgets-control p-20 bg-white rad-10">
  <h2 class="mt-0 mb-10">Widgets Control</h2>
  <p class="mt-0 mb-20 c-grey fs-15">Show/Hide Widgets</p>

  <div *ngFor="let widget of widgets" class="control d-flex align-center mb-15">
    <input type="checkbox" [id]="widget.id" [checked]="widget.checked" />
    <label [for]="widget.id">{{ widget.name }}</label>
  </div>
</div>
<!-- End Settings Box -->


      <!-- Start Settings Box -->
<div class="backup-control p-20 bg-white rad-10">
  <h2 class="mt-0 mb-10">Backup Manager</h2>
  <p class="mt-0 mb-20 c-grey fs-15">Control Backup Time And Location</p>

  <div *ngFor="let time of backupTimes" class="date d-flex align-center mb-15">
    <input type="radio" name="time" [id]="time.id" [checked]="time.checked" />
    <label [for]="time.id">{{ time.label }}</label>
  </div>

  <div class="servers d-flex align-center txt-c">
    <div *ngFor="let server of servers" class="server-container">
      <input type="radio" name="servers" [id]="server.id" [checked]="server.checked" />
      <div class="server mb-15 rad-10 w-full">
        <label class="d-block m-15" [for]="server.id">
          <i class="fa-solid fa-server d-block mb-10"></i>
          {{ server.name }}
        </label>
      </div>
    </div>
  </div>
</div>
<!-- End Settings Box -->

    </div>
  </div>
</div>
